:root {
    /* Colors */
    --white-color: #F8F8F8;
    --light-grey-color: #F5F4F4;
    --grey-color: #818285;
    --grey-border: rgba(217, 217, 217, 0.5);
    --orange-color: #FAA74C;

    /*Spacing*/
    --spacing: 8px;
}

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    font-family: 'Gill Sans', sans-serif;
}

/* Typography */

/* ----------------------------------- */

/* Hero Wrapper */

.hero-wrapper {

    /* Size */
    width: 100%;
    min-height: 100vh;

    /*Background image*/
    background-image: url(./images/hero-img.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; 

    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


.header, .hero, .logo, .logo-img {
    background: transparent;
}
/* Navbar */

.header .logo-img {
    filter: brightness(0) invert(1);
}

.navbar-list {
    display: none;
}

.hero-text {
    background: transparent;
    padding-top: 5vh;}


/* ----------------------------------- */

/* Body Wrapper */



/* ----------------------------------- */

/* Media */

.logo-img {
    max-width: 100%;
    max-height: calc(var(--spacing) * 3);
}

img {
    max-width: 100%;
}