:root {
    /* Colors */
    --white-color: #F8F8F8;
    --light-grey-color: #F5F4F4;
    --grey-color: #818285;
    --grey-border: rgba(217, 217, 217, 0.5);
    --orange-color: #FAA74C;

    /*Spacing*/
    --spacing: 8px;
}

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    background-color: var(--white-color);

    font-family: 'Gill Sans', sans-serif;
    font-weight: 300;
    color: var(--grey-color);

}

/* Typography */

h1 {
    font-size: 4.5em; /* 64px */
}

h2 {
    font-size: 3em; /* 48px */
}

h3 {
    font-size: 1.75em; /* 28px */
}

h4 {
    font-size: 1.125em; /* 18px */
}

p, li {
    font-size: 1em; /* 16px */
}

/* ----------------------------------- */

/* Hero Wrapper */

.hero-wrapper {

    /* Size */
    width: 100%;
    min-height: 100vh;

    /*Background image*/
    background-image: url(./images/hero-img.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; 

    /* Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20%;
    gap: var(--spacing);
    padding: calc(var(--spacing) * 2);
}

/* Navbar */

.logo {
    grid-column: 1 / span 2;
}

.menu {
    grid-column: 4 / span 1;
    justify-self: end;
}

.hamburger-menu {
    max-width: 100%;
    max-height: calc(var(--spacing) * 3);
}



/* Hero */

.hero {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    justify-self: center;
    text-align: center;
}



.never-stop {
    color: var(--white-color);
    margin-top: 10%;
}

.typ-agency {
    color: var(--orange-color);
}

.typ {
    font-weight: 600;
}
.agency {
    font-size: 0.7em; /* cca48px */
}

/* ----------------------------------- */

/* Body Wrapper */




/* ----------------------------------- */

/* Styles */

.logo-img {
    max-width: 100%;
    max-height: calc(var(--spacing) * 3);
}

img {
    max-width: 100%;
}

.navbar, .header, .hero, .hero-text, .logo, .logo-img, .menu, .hamburger-menu {
    background: transparent;
}

.logo-img, .hamburger-menu {
    filter: brightness(0) invert(1);
}

.navbar-list, .squares-container {
    display: none;
}